<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pageTitle %> | Stoury Admin</title>
    <meta name="description" content="<%= pageDescription %>">
    <link rel="stylesheet" href="<%= assetsBasePath %>/admin.css">
  </head>
